# Windows files (CRLF)
*.bat           text eol=crlf

# Text
*.accesswidener text
*.properties    text
*.json          text
*.snbt          text
*.yml           text

# Java
*.java          text diff=java
*.gradle        text diff=java
*.kts           text diff=kotlin

# Binary
*.class         binary
*.dll           binary
*.ear           binary
*.jar           binary
*.so            binary
*.war           binary
*.png           binary
